.chatbox {
  display: flex;
  flex-direction: column;
  position: relative;

  max-height: 100%;
  width: 100%;
  font-size: 0.7rem;
}

.message-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 80%;
  height: 65vh;
  width: 100%;
}

.message {
  margin-bottom: 0.25rem;
  border-radius: 5px;
  padding: 1rem 0rem;
  word-break: break-word;
}

.message:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.chatbox-bottom {
  display: flex;
  height: 10%;
  width: 100%;
  font-size: 0.6rem;
}

.chatbox-bottom .textbox {
  width: 80%;
}
