.hand {
  display: flex;
  margin-left: 4.4rem;

  align-items: flex-end;

  /* align-items: end for safari */
  -webkit-align-items: flex-end;

  /* Twice the amount of the card margin-left */
}

/* .hand :nth-child(n + 1) {
  margin-left: -0.9rem;
} */
