.bidding-table {
  display: table;
  table-layout: fixed;
  position: relative;
  height: 90%;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 4px;
}

.bidding-table thead {
  height: 20% !important;
}
.bidding-table tbody {
  height: 80% !important;
}

.bidding-table thead tr {
  font-size: 0.75rem;
}

.bidding-table tbody tr {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-size: 0.55rem;
  height: 20% !important;
}

.bidding-table td {
  display: table-cell;
  width: 100%;
  height: 10px;
}

.bidding-table span {
  line-height: 20%;
}

.bidding-table td {
  height: 10px;
  padding: 0px !important;
}

.bidding-table tbody tr:not(.score-table_row_unavailable):hover {
  background-color: #006cb1;
}

/* .bidding-table tbody tr td {
  padding: 0.5rem;
  vertical-align: middle;
} */

.bidding-table tbody .score-table_row_unavailable {
  background-color: rgba(137, 161, 168, 0.25);
  color: rgba(255, 255, 255, 0.6);
}

.bidding-table tbody .score-table_row_unavailable:hover {
  background-color: rgba(127, 146, 158, 0.27);
}
