.btn-secondary {
  width: 140px;
  height: 52px;
  top: 16px;
  left: 16px;
  border-radius: 8px;

  text-align: center;
  color: white;
  font-size: 1.125rem;
  font-weight: 700;

  background: #20da1c;

  border: none;
  box-shadow: 2px 2px 4px rgba(32, 32, 32, 0.15);
}

.btn-secondary:hover {
  background: #1fab1c;
}

.btn-secondary:disabled {
  background: #1fab1c;
}

.btn-primary {
  width: 300px;
  height: 90px;
  top: 16px;
  left: 16px;
  border-radius: 8px;

  text-align: center;
  color: white;
  gap: 10px;

  background: #f06800;

  /* Shadow */
  border: none;
  box-shadow: 2px 2px 4px rgba(32, 32, 32, 0.15);
}

.btn-primary:hover {
  background-color: #b34d00;
}
