.btn-secondary {
  width: 140px;
  height: 52px;
  /* top: 16px; */
  left: 16px;
  border-radius: 8px;

  text-align: center;
  color: white;
  /* font-size: 1.125rem; */

  background: #20da1c;

  background-color: #1fab1c;

  border: none;
  box-shadow: 2px 2px 4px rgba(32, 32, 32, 0.15);
}

.btn-secondary:hover {
  background-color: #157613;
}

.btn-secondary:disabled {
  background: #1fab1c;
}

.btn-primary {
  width: 300px;
  height: 90px;
  top: 16px;
  left: 16px;
  border-radius: 8px;

  text-align: center;
  color: white;
  gap: 10px;

  background: #f06800;

  /* Shadow */
  border: none;
  box-shadow: 2px 2px 4px rgba(32, 32, 32, 0.15);
}

.btn-primary:hover {
  background-color: #b34d00;
}

.btn-primary:disabled {
  opacity: 0.7;
}
.btn-primary:disabled:hover {
  background-color: #f06800;
}

.btn-yellow {
  color: #212529;
  background-color: #f2c409;
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-outset: 2;
  position: relative;
  display: inline-block;
  padding: 6px 8px;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-yellow:hover {
  color: #212529;
  background-color: #e7e7e7;
}
