.player-box {
  /* border: 1px solid gray; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 10px 10px;
  height: 11rem;
  width: 11rem;
  background-color: rgba(0, 0, 0, 0.05);
}

.player-box:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
