.playing-card {
  border: 3px solid black;
  background-color: white;
  color: #000;
  width: 5rem;
  height: 7rem;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playing-card .suit {
  height: 30%;
  width: 100%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playing-card .string-value {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playing-card:hover {
  transform: translate(0, -10px);
}
