.player-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-size: 0.9rem;
}

.player-panel-row {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
