@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BridgeFont";
  src: url("./assets/fonts/font.ttf");
}

body {
  margin: 0;
  font-family: "BridgeFont" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("./assets/background_assets/background-tilted.gif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow: hidden;
}

.firebase-emulator-warning {
  display: none;
}
